{{ 'login.scss' | asset_url | stylesheet_tag }}
{%- if settings.pg_prod_permanent_domain == "online-ticket-yoshimoto.myshopify.com" -%}
  {% include 'pg_onty_login' %}
{%- elsif settings.pg_prod_permanent_domain == "ticket-sun-a.myshopify.com" or settings.pg_prod_permanent_domain == "sanei-demo-store.myshopify.com" -%}
  {% include 'pg_sanei_login' %}
{%- elsif settings.pg_store_group_code == "kodansha" -%}
  {% include 'pg_kodansha_login' %}
{%- elsif settings.pg_prod_permanent_domain == "animate-demo.myshopify.com" or settings.pg_prod_permanent_domain == "ticket-animate-onlineshop.myshopify.com" -%}
  {% include 'pg_animate_login' %}
{%- elsif settings.pg_store_group_code == "mec" -%}

{%- else -%}
  <div id="pg_login" class="page-width">
    <div class="grid">

      <div class="grid__item medium-up--one-half medium-up--push-one-quarter">

        <!--// PG CLOSED CONTENT LOGIN ATTENTION START //-->
        {%- render 'pg_closed_content_login_attention' -%}
        <!--// PG CLOSED CONTENT LOGIN ATTENTION END //-->

        <!--// PG SUBSC CONTENT LOGIN ATTENTION START //-->
        {%- render 'pg_subsc_content_login_attention' -%}
        <!--// PG SUBSC CONTENT LOGIN ATTENTION END //-->

        <!--// PG LOGIN TITLE START //-->
        <div class="custom-style-login-login-title">{{ 'customer.login.title' | t }}</div>
        <!--// PG LOGIN TITLE END //-->

        <!--// PG WITHOUT IDCON AREA START //-->
        <div id="PG_div_idcon_WithOut" class="custom-style-login-pg-div-idcon-without">

          <!--// PG FORM MESSAGE START //-->
          <div class="form-message form-message--success hide" id="ResetSuccess" tabindex="-1">
            {{ 'customer.recover_password.success' | t }}
          </div>
          <!--// PG FORM MESSAGE END //-->

          <!--// PG CUSTOMER LOGIN FORM START //-->
          <div id="CustomerLoginForm" class="form-vertical">

            {%- comment -%}
            <h1 id="LoginHeading" class="text-center">{{ 'customer.login.title' | t }}</h1>
            {%- endcomment -%}

            {% form 'customer_login', novalidate: 'novalidate' %}

              {%- if form.errors -%}
                <!--// PG ERROR MESSAGE START //-->
                <div class="form-message form-message--error custom-style-login-form-message--error-first-div">
                  <div tabindex="-1" data-form-status class="custom-style-login-form-message--error-second-div">{{ 'contact.form.error_heading' | t }}</div>
                  <div class="custom-style-login-form-message--error-third-div">{{ form.errors | default_errors }}</div>
                </div>
                <!--// PG ERROR MESSAGE END //-->
              {%- endif -%}

              <!--// PG INPUT CUSTOMER EMAIL START //-->
              <label for="CustomerEmail" class="custom-style-login-customer-email-label">{{ 'customer.login.email' | t }}</label>
              <input
                type="email"
                name="customer[email]"
                id="CustomerEmail"
                autocomplete="email"
                autocorrect="off"
                autocapitalize="off"
                {%- if form.errors contains 'form' -%}
                  class="input--error"
                  aria-invalid="true"
                {%- endif -%}
                >
              <!--// PG INPUT CUSTOMER EMAIL END //-->

              {% if form.password_needed %}
                <!--// PG INPUT CUSTOMER PASSWORD START //-->
                <label for="CustomerPassword" class="custom-style-login-customer-password-label">{{ 'customer.login.password' | t }}</label>
                <input
                  type="password"
                  value=""
                  name="customer[password]"
                  id="CustomerPassword"
                  {%- if form.errors contains 'form' -%}
                    class="input--error"
                    aria-invalid="true"
                  {%- endif -%}
                >
                <!--// PG INPUT CUSTOMER PASSWORD END //-->
              {% endif %}

              <div class="text-center custom-style-login-text-center">

                <!--// PG LOGIN BUTTON START //-->
                <input id="custom-id-login-login-btn" type="submit" class="btn custom-style-login-login-btn" value="{{ 'customer.login.sign_in' | t }}">
                <!--// PG LOGIN BUTTON END //-->

              {% if form.password_needed %}
                  <!--// PG FORGOT PASSWORD START //-->
                  <div class="custom-style-login-recover-password-div"><a href="#recover" id="RecoverPassword" class="custom-style-login-recover-password-a">{{ 'customer.login.forgot_password' | t }}</a></div>
                  <!--// PG FORGOT PASSWORD END //-->
                {% endif %}

                <!--// PG REGISTER LINK START //-->
                <div class="custom-style-login-register-first-div">
                  <a href="/account/register">
                  <div id="PG_btn_CustomerRegister" class="custom-style-login-register-second-div">アカウントを作成する</div>
                  </a>
                </div>
                <!--// PG REGISTER LINK END //-->

              </div>

            {% endform %}
          </div>
          <!--// PG CUSTOMER LOGIN FORM END //-->

          <!--// PG RECOVER PASSWORD FORM START //-->
          <div id="RecoverPasswordForm" class="hide">

            <div class="text-center">
              <h2 id="RecoverHeading" class="custom-style-login-recover-password-form-title">{{ 'customer.recover_password.title' | t }}</h2>
              <p class="custom-style-login-recover-password-form-subtext">{{ 'customer.recover_password.subtext' | t }}</p>
            </div>

            <div class="form-vertical">
              {% form 'recover_customer_password' %}

                {% if form.posted_successfully? %}
                  <span class="hide reset-password-success"></span>
                {% endif %}

                <label for="RecoverEmail" class="custom-style-login-recover-password-form-email-label">{{ 'customer.recover_password.email' | t }}</label>
                <input
                  type="email"
                  value=""
                  name="email"
                  id="RecoverEmail"
                  class="input-full{% if form.errors %} input--error{% endif %} custom-style-login-recover-password-form-email-input"
                  autocorrect="off"
                  autocapitalize="off"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="RecoverEmail-email-error"
                  {%- endif -%}
                  >
                {%- if form.errors -%}
                  <span id="RecoverEmail-email-error" class="input-error-message">
                    <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                    <span class="custom-style-login-recover-password-form-form-error-third-span">※{{ form.errors.messages['form'] }}</span>
                  </span>
                {%- endif -%}

                <div class="text-center">
                  <p class="custom-style-login-recover-password-form-submit-p">
                    <input id="custom-id-login-recover-password-form-submit-btn" type="submit" class="btn custom-style-login-recover-password-form-submit-btn" value="{{ 'customer.recover_password.submit' | t }}">
                  </p>

                  <a href="#LoginHeading" id="HideRecoverPasswordLink" class="custom-style-login-recover-password-form-cancel-a">{{ 'customer.recover_password.cancel' | t }}</a>
                </div>
              {% endform %}
            </div>

          </div>
          <!--// PG RECOVER PASSWORD FORM END //-->

        </div>
        <!--// PG WITHOUT IDCON AREA END //-->

        <!--// PG ANOTHER IDCON AREA START //-->
        <div id="PG_div_idcon_Another" class="custom-style-login-pg-div-idcon-another">
        </div>
        <!--// PG ANOTHER IDCON AREA END //-->

        <!--// PG IDCON START //-->
        <div id="pg_idcon_area" class="custom-style-login-pg-idcon-area">
        </div>

        <script>
        (function() {
          PG_idcon("{{ shop.permanent_domain }}");
        })();
        </script>

        <form method="post" action="/account/login" id="PG_customer_login" accept-charset="UTF-8" novalidate="novalidate">
        <input type="hidden" name="form_type" value="customer_login" />
        <input type="hidden" id="PG_CustomerEmail" name="customer[email]" value="" />
        <input type="hidden" id="PG_CustomerPassword" name="customer[password]" value="" />
        <input type="hidden" name="utf8" value="✓" />
        </form>

        <!--// PG IDCON END //-->

        {% comment %}
          If accounts are set as optional, the following will be shown as an option
          during checkout, not on the default /login page.
        {% endcomment %}
        {% if shop.checkout.guest_login %}
          <div class="text-center">
            <hr class="hr--invisible">
            <h2>{{ 'customer.login.guest_title' | t }}</h2>

            {% form 'guest_login' %}
              <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
            {% endform %}
          </div>
        {% endif %}
      </div>

    </div>
  </div>
{%- endif -%}
