<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">

      {%- if settings.hide_default_registration_form == true -%}
        <div class="registration-caption-wrapper">
          <a class="registration-caption" href="./login">新規登録はこちらから</a>
        </div>
      {%- else -%}
        <div class="form-vertical">

          <!--// PG REGISTER TITLE START //-->
          <div style="font-family: '{{ settings.pg_font }}'; font-size: 24px; font-weight: 400; color: #1B1B1B; text-align: center; padding-bottom: 32px;">{{ 'customer.register.title' | t }}</div>
          <!--// PG REGISTER TITLE END //-->

          {%- assign formId = 'RegisterForm' -%}
          {% if settings.pg_use_customer_fields != true %}
            {% form 'create_customer', id: formId, novalidate: 'novalidate' %}
              {% include 'form-status', form: form, form_id: formId %}

              <!--// PG LAST_NAME START //-->
              <label for="{{ formId }}-LastName">{{ 'customer.register.last_name' | t }}</label>
              <input type="text" name="customer[last_name]" id="{{ formId }}-LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocomplete="family-name">
              <!--// PG LAST_NAME END //-->

              <!--// PG FIRST_NAME START //-->
              <label for="{{ formId }}-FirstName">{{ 'customer.register.first_name' | t }}</label>
              <input type="text" name="customer[first_name]" id="{{ formId }}-FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocomplete="given-name">
              <!--// PG FIRST_NAME END //-->

              <!--// PG NOTE START //-->
              {%- if settings.pg_register_account_note != "-" -%}
                {{ settings.pg_register_account_note }}
              {%- endif -%}
              <!--// PG NOTE END //-->

              <!--// PG EMAIL START //-->
              <label for="{{ formId }}-email">{{ 'customer.register.email' | t }}</label>
              <input
                type="email"
                name="customer[email]"
                id="{{ formId }}-email"
                class="{% if form.errors contains 'email' %} input--error{% endif %}"
                {% if form.email %} value="{{ form.email }}"{% endif %}
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                aria-required="true"
                {%- if form.errors contains 'email' -%}
                  class="input--error"
                  aria-invalid="true"
                  aria-describedby="{{ formId }}-email-error"
                {%- endif -%}
              >
              {%- if form.errors contains 'email' -%}
                <span id="{{ formId }}-email-error" class="input-error-message" style="margin-top: -16px;">
                  <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                  {% comment %} {% include 'icon-error' %} {% endcomment %}
                  {%- if form.errors.messages['email'] == "空白にすることはできません" -%}
                    {%- assign str_msg = "未入力" -%}
                  {%- else -%}
                    {%- assign str_msg = form.errors.translated_fields['email'] | capitalize | append : form.errors.messages['email'] -%}
                  {%- endif -%}
                  {% comment %} <span>※{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span> {% endcomment %}
                  <span style="color: #CC2929; font-size: 16px;">※{{ str_msg }}</span>
                </span>
              {%- endif -%}
              <!--// PG EMAIL END //-->

              <!--// PG PASSWORD START //-->
              <label for="{{ formId }}-password">{{ 'customer.register.password' | t }}</label>
              <input
                type="password"
                name="customer[password]"
                id="{{ formId }}-password"
                class="{% if form.errors contains 'password' %} input--error{% endif %}"
                aria-required="true"
                {%- if form.errors contains 'password' -%}
                  class="input--error"
                  aria-invalid="true"
                  aria-describedby="{{ formId }}-password-error"
                {%- endif -%}
              >
              {%- if form.errors contains 'password' -%}
                <span id="{{ formId}}-password-error" class="input-error-message" style="margin-top: -16px;">
                  {% comment %} {% include 'icon-error' %} {% endcomment %}
                  {%- if form.errors.messages['password'] == "空白にすることはできません" -%}
                    {%- assign str_msg = "未入力" -%}
                  {%- else -%}
                    {%- assign str_msg = form.errors.translated_fields['password'] | capitalize | append : form.errors.messages['password'] -%}
                  {%- endif -%}
                  {% comment %} <span>{{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.</span> {% endcomment %}
                  <span style="color: #CC2929; font-size: 16px;">※{{ str_msg }}</span>
                </span>
              {%- endif -%}
              <!--// PG PASSWORD END //-->

              <!--// PG NEWSLETTER START //-->
              {%- if settings.pg_newsletter -%}
                <div style="margin-bottom: 32px;">
                  <input type="checkbox" name="customer[accepts_marketing]" checked="checked" value="true" id="marketing" style="margin-bottom: 0px; height: auto; " />
                  {{ settings.pg_newsletter_word }}
                </div>
              {%- endif -%}
              <!--// PG NEWSLETTER END //-->

              <!--// PG TERMS START //-->
              {%- if settings.pg_terms -%}
                {%- if settings.pg_terms_insert != "-" -%}
                  <div class="terms-insert">
                    {{ settings.pg_terms_insert }}
                  </div>
                {%- endif -%}
                <div class="terms-checkbox">
                  <input id="customer-terms-checkbox" type="checkbox" name="customer[note][terms]" value="true">
                  {{ settings.pg_terms_checkbox_word | replace: "_term_url_", settings.pg_terms_link }}
                </div>
              {%- endif -%}
              <!--// PG TERMS END //-->

              <!--// PG BUTTON START //-->
              <p class="text-center">
                <input type="submit" id="customer-register-button" value="{{ 'customer.register.submit' | t }}">
              </p>
              <!--// PG BUTTON END //-->

            {% endform %}
          {% else %}
            {% render "customer-fields", form_id: settings.pg_customer_fields_form_id %}
          {% endif %}
        </div>
      {%- endif -%}


    </div>
  </div>
</div>

<script>
  function isButtonDisabled() {
    if (document.getElementById("customer-terms-checkbox") != null) {
      var buttonDisabled = $("#{{ formId }}-email").val().length > 0 && $("#{{ formId }}-password").val().length > 0 && $('#customer-terms-checkbox').is(':checked');
      $("#customer-register-button").prop('disabled', !buttonDisabled);
    }
  }
  $(function() {
    if (document.getElementById("customer-terms-checkbox") != null) {
      $("#customer-register-button").prop('disabled', true);
    }

    $("#{{ formId }}-email, #{{ formId }}-password").blur(function() {
      isButtonDisabled();
    });

    $('#customer-terms-checkbox').click(function() {
      isButtonDisabled();
    })
  });
</script>
